.DS_Store

# Scala

target
*.class

# IntelliJ

*.iml
*.ipr
*.iws
.idea
out

# SBT 

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/